<div>
    <div class="ilc_qtitle_Title">{QUESTION_TEXT}</div>
    <span class="cbm-answers">
        <!-- BEGIN answer_single -->
        <span class="cbm-answer-wrapper">
            <input type="radio" {DISABLED} name="answer[answer][]" value="{ANSWER_ID}" id="answer_{ANSWER_ID}" {CHECKED} />
            <label for="answer_{ANSWER_ID}" class="cbm-answer-text">
                <!-- BEGIN answer_image -->
                <img <!-- BEGIN answer_image_thumb_size --> width="{ANSWER_IMAGE_THUMB_SIZE}" height="auto" <!-- END answer_image_thumb_size --> src="{ANSWER_IMAGE_URL}" />
                <!-- END answer_image -->
                <span>{ANSWER_TEXT}</span>
            </label>
            <!-- BEGIN answer_single_solution_icon -->
            <img src="{SOLUTION_ICON_SRC}" alt="{SOLUTION_ICON_TEXT}" title="{SOLUTION_ICON_TEXT}" />
            <!-- END answer_single_solution_icon -->
        </span>
        <!-- END answer_single -->
        <!-- BEGIN answer_multi -->
        <span class="cbm-answer-wrapper">
            <input type="checkbox" {DISABLED} name="answer[answer][]" value="{ANSWER_ID}" id="answer_{ANSWER_ID}" {CHECKED} />
            <label for="answer_{ANSWER_ID}" class="cbm-answer-text">
                <span>{ANSWER_TEXT}</span>
            </label>
            <!-- BEGIN answer_multi_solution_icon -->
            <img src="{SOLUTION_ICON_SRC}" alt="{SOLUTION_ICON_TEXT}" title="{SOLUTION_ICON_TEXT}" />
            <!-- END answer_multi_solution_icon -->
        </span>
        <!-- END answer_multi -->
    </span>
    <div class="ilc_qtitle_Title">{CBM_TEXT} <!-- BEGIN cbm_required --><span class="cbm-required">{CBM_REQUIRED_TEXT}</span><!-- END cbm_required --> </div>
    <div class="cbm-scoring-matrix">
        <!-- BEGIN scoring_matrix_input -->
        <span>
            <input type="radio" {DISABLED} name="answer[cbm]" id="cbm_{SCORING_MATRIX_VALUE}_{ANSWER_ID}" value="{SCORING_MATRIX_VALUE}" {CHECKED} />
            <label for="cbm_{SCORING_MATRIX_VALUE}_{ANSWER_ID}" class="cbm-option-text">
                <span>{SCORING_MATRIX_TEXT}</span>
            </label>
        </span>
        <!-- END scoring_matrix_input -->
    </div>
</div>