<div>
    <div class="cbm-answers">
        <!-- BEGIN answer -->
        <div class="cbm-answer">
            <input type="radio" name="answer{Q_ID}" id="answer_{ANSWER_ID}" value="{ANSWER_ID}" checked="{CHECKED}" />
            <label for="answer_{ANSWER_ID}" class="cbm-answer-text">
                <!-- BEGIN answer_image -->
                <img <!-- BEGIN answer_image_thumb_size --> width="{ANSWER_IMAGE_THUMB_SIZE}" height="{ANSWER_IMAGE_THUMB_SIZE}" <!-- END answer_image_thumb_size --> src="{ANSWER_IMAGE_URL}" />
                <!-- END answer_image -->
                <span>{ANSWER_TEXT}</span>
            </label>
        </div>
        <!-- END answer -->
    </div>
</div>