<div class="cbm-question-solution-output">
    <div class="ilc_answers answers ilClearFloat">
        <!-- BEGIN answer_div -->
        <div class="ilc_qanswer_Answer solutionbox">{DIV_ANSWER}</div>
        <!-- END answer_div -->
        <!-- BEGIN answer_textarea -->
        <div class="fullwidth textarea" spellcheck="false">{TA_ANSWER}</div>
        <!-- END answer_textarea -->
        <!-- BEGIN icon_ok -->
        <img class="cbm-answer-result-icon-status" src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
        <!-- END icon_ok -->
        <!-- BEGIN icon_not_ok -->
        <img class="cbm-answer-result-icon-status" src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
        <!-- END icon_not_ok -->
    </div>
</div>